In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('/Users/prano/Downloads/train/train.csv')
df_test = pd.read_csv('/Users/prano/Downloads/test/test.csv')

In [3]:
df_train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
# Check for null and unique values for test and train sets

df_train.isnull().sum()
df_test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [5]:
df_train.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [6]:
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

In [7]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)
        
print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [8]:
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [9]:
x_test

,X33,X343,X24,X214,X159,X299,X291,X138,X183,X127,...,X230,X287,X106,X364,X78,X328,X322,X375,X363,X217
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4205,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4206,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4208,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [10]:
x_train

,X33,X343,X24,X214,X159,X299,X291,X138,X183,X127,...,X230,X287,X106,X364,X78,X328,X322,X375,X363,X217
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4205,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4207,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4208,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0

In [11]:
#If for any column(s), the variance is equal to zero, then you need to remove those variable(s)
#Apply label encoder

for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

<ipython-input-11-357911546871>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[column] = x_train[column].apply(mapper)
<ipython-input-11-357911546871>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[column] = x_test[column].apply(mapper)

,X33,X343,X24,X214,X159,X299,X291,X138,X183,X127,...,X230,X287,X106,X364,X78,X328,X322,X375,X363,X217
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [12]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [13]:
from sklearn.decomposition import PCA

In [14]:
#Perform dimensionality reduction

pca = PCA(n_components=2)
x = pca.fit_transform(x_train)
y = pca.fit_transform(x_test)
final_train = pd.DataFrame(x, columns=["PC1", "PC2"])

final_train.head()

         PC1        PC2
0 -49.081562  -4.909481
1 -48.946804  -7.226743
2  92.627617  31.994034
3  93.427162  32.552257
4  90.511296  35.475479

In [15]:
# Predict your test_df values using XGBoost

import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        x, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(y)

In [16]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [17]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [18]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[14:30:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.15289	train-r2:-58.35840	valid-rmse:98.26784	valid-r2:-67.64436
[10]	train-rmse:81.33593	train-r2:-38.94258	valid-rmse:80.43426	valid-r2:-44.99008
[20]	train-rmse:66.83586	train-r2:-25.97060	valid-rmse:65.90302	valid-r2:-29.87399
[30]	train-rmse:55.05215	train-r2:-17.29869	valid-rmse:54.06678	valid-r2:-19.77988
[40]	train-rmse:45.50831	train-r2:-11.50411	valid-rmse:44.46200	valid-r2:-13.05271
[50]	train-rmse:37.79817	train-r2:-7.62607	valid-rmse:36.70059	valid-r2:-8.57477
[60]	train-rmse:31.59708	train-r2:-5.02789	valid-rmse:30.44140	valid-r2:-5.58736
[70]	train-rmse:26.64868	train-r2:-3.28768	valid-rmse:25.44648	valid-r2:-3.60296
[80]	train-rmse:22.74356	train-r2:-2.12312	valid-rmse:21.49989	valid-r2:-2.28590
[90]	train-rmse:19.70262	train-r2:-1.34380	valid-rmse:18.42632	valid-r2:-1.41357
[100]	train-rmse:17.36811	train-r2:-0.82128	valid-rmse:16.06236	valid-r2:-0.83401
[110]	train-rmse:15.60567	train-r2:-0.47040	valid-rmse:14.28183	valid-r2:-0.44994
[120]	train-rmse:14.28753	train-r2:-0.23250	valid-rmse:12.96994	valid-r2:-0.19580
[130]	train-rmse:13.32089	train-r2:-0.07136	valid-rmse:12.01625	valid-r2:-0.02641
[140]	train-rmse:12.62318	train-r2:0.03793	valid-rmse:11.34832	valid-r2:0.08453
[150]	train-rmse:12.12554	train-r2:0.11228	valid-rmse:10.88026	valid-r2:0.15849
[160]	train-rmse:11.77528	train-r2:0.16283	valid-rmse:10.56210	valid-r2:0.20698
[170]	train-rmse:11.52609	train-r2:0.19789	valid-rmse:10.35077	valid-r2:0.23840
[180]	train-rmse:11.35789	train-r2:0.22113	valid-rmse:10.21819	valid-r2:0.25778
[190]	train-rmse:11.22903	train-r2:0.23870	valid-rmse:10.12682	valid-r2:0.27100
[200]	train-rmse:11.13834	train-r2:0.25095	valid-rmse:10.06159	valid-r2:0.28036
[210]	train-rmse:11.06511	train-r2:0.26077	valid-rmse:10.01295	valid-r2:0.28730
[220]	train-rmse:11.00505	train-r2:0.26877	valid-rmse:9.97654	valid-r2:0.29247
[230]	train-rmse:10.95493	train-r2:0.27541	valid-rmse:9.94869	valid-r2:0.29642
[240]	train-rmse:10.91377	train-r2:0.28085	valid-rmse:9.92583	valid-r2:0.29965
[250]	train-rmse:10.87487	train-r2:0.28597	valid-rmse:9.90750	valid-r2:0.30223
[260]	train-rmse:10.83549	train-r2:0.29113	valid-rmse:9.89372	valid-r2:0.30417
[270]	train-rmse:10.79634	train-r2:0.29624	valid-rmse:9.87603	valid-r2:0.30666
[280]	train-rmse:10.76560	train-r2:0.30024	valid-rmse:9.86581	valid-r2:0.30809
[290]	train-rmse:10.73123	train-r2:0.30470	valid-rmse:9.85377	valid-r2:0.30978
[300]	train-rmse:10.70957	train-r2:0.30751	valid-rmse:9.84783	valid-r2:0.31061
[310]	train-rmse:10.68062	train-r2:0.31125	valid-rmse:9.83706	valid-r2:0.31212
[320]	train-rmse:10.64815	train-r2:0.31543	valid-rmse:9.81734	valid-r2:0.31488
[330]	train-rmse:10.61576	train-r2:0.31959	valid-rmse:9.80068	valid-r2:0.31720
[340]	train-rmse:10.57562	train-r2:0.32472	valid-rmse:9.77615	valid-r2:0.32061
[350]	train-rmse:10.54866	train-r2:0.32816	valid-rmse:9.76196	valid-r2:0.32258
[360]	train-rmse:10.50752	train-r2:0.33339	valid-rmse:9.73626	valid-r2:0.32615
[370]	train-rmse:10.48508	train-r2:0.33623	valid-rmse:9.72555	valid-r2:0.32763
[380]	train-rmse:10.44930	train-r2:0.34076	valid-rmse:9.71037	valid-r2:0.32972
[390]	train-rmse:10.42180	train-r2:0.34422	valid-rmse:9.70042	valid-r2:0.33110
[400]	train-rmse:10.38495	train-r2:0.34885	valid-rmse:9.68398	valid-r2:0.33336
[410]	train-rmse:10.35420	train-r2:0.35270	valid-rmse:9.67783	valid-r2:0.33421
[420]	train-rmse:10.32822	train-r2:0.35595	valid-rmse:9.66305	valid-r2:0.33624
[430]	train-rmse:10.30776	train-r2:0.35850	valid-rmse:9.65794	valid-r2:0.33694
[440]	train-rmse:10.28114	train-r2:0.36180	valid-rmse:9.64858	valid-r2:0.33823
[450]	train-rmse:10.25685	train-r2:0.36482	valid-rmse:9.64376	valid-r2:0.33889
[460]	train-rmse:10.23052	train-r2:0.36807	valid-rmse:9.63840	valid-r2:0.33962
[470]	train-rmse:10.19772	train-r2:0.37212	valid-rmse:9.62638	valid-r2:0.34127
[480]	train-rmse:10.17200	train-r2:0.37528	valid-rmse:9.62257	valid-r2:0.34179
[490]	train-rmse:10.14035	train-r2:0.37916	valid-rmse:9.61339	valid-r2:0.34304
[500]	train-rmse:10.10813	train-r2:0.38310	valid-rmse:9.60760	valid-r2:0.34384
[510]	train-rmse:10.08386	train-r2:0.38606	valid-rmse:9.60037	valid-r2:0.34482
[520]	train-rmse:10.03627	train-r2:0.39184	valid-rmse:9.58763	valid-r2:0.34656
[530]	train-rmse:9.99542	train-r2:0.39678	valid-rmse:9.58125	valid-r2:0.34743
[540]	train-rmse:9.96311	train-r2:0.40068	valid-rmse:9.57253	valid-r2:0.34862
[550]	train-rmse:9.94121	train-r2:0.40331	valid-rmse:9.56882	valid-r2:0.34912
[560]	train-rmse:9.90277	train-r2:0.40791	valid-rmse:9.56255	valid-r2:0.34998
[570]	train-rmse:9.86965	train-r2:0.41187	valid-rmse:9.56260	valid-r2:0.34997
[580]	train-rmse:9.84700	train-r2:0.41456	valid-rmse:9.55872	valid-r2:0.35050
[590]	train-rmse:9.82503	train-r2:0.41717	valid-rmse:9.55342	valid-r2:0.35122
[600]	train-rmse:9.79902	train-r2:0.42026	valid-rmse:9.55043	valid-r2:0.35162
[610]	train-rmse:9.77294	train-r2:0.42334	valid-rmse:9.54287	valid-r2:0.35265
[620]	train-rmse:9.75506	train-r2:0.42545	valid-rmse:9.54090	valid-r2:0.35292
[630]	train-rmse:9.71645	train-r2:0.42999	valid-rmse:9.53421	valid-r2:0.35382
[640]	train-rmse:9.69376	train-r2:0.43264	valid-rmse:9.53241	valid-r2:0.35407
[650]	train-rmse:9.66726	train-r2:0.43574	valid-rmse:9.52701	valid-r2:0.35480
[660]	train-rmse:9.63746	train-r2:0.43921	valid-rmse:9.52242	valid-r2:0.35542
[670]	train-rmse:9.61368	train-r2:0.44198	valid-rmse:9.52051	valid-r2:0.35568
[680]	train-rmse:9.57835	train-r2:0.44607	valid-rmse:9.51498	valid-r2:0.35643
[690]	train-rmse:9.54478	train-r2:0.44995	valid-rmse:9.51469	valid-r2:0.35647
[700]	train-rmse:9.50670	train-r2:0.45433	valid-rmse:9.50958	valid-r2:0.35716
[710]	train-rmse:9.48716	train-r2:0.45657	valid-rmse:9.50971	valid-r2:0.35714
[720]	train-rmse:9.45406	train-r2:0.46036	valid-rmse:9.50326	valid-r2:0.35801
[730]	train-rmse:9.42516	train-r2:0.46365	valid-rmse:9.50092	valid-r2:0.35833
[740]	train-rmse:9.39205	train-r2:0.46741	valid-rmse:9.49540	valid-r2:0.35907
[750]	train-rmse:9.35546	train-r2:0.47155	valid-rmse:9.49073	valid-r2:0.35970
[760]	train-rmse:9.32089	train-r2:0.47545	valid-rmse:9.48905	valid-r2:0.35993
[770]	train-rmse:9.28967	train-r2:0.47896	valid-rmse:9.48925	valid-r2:0.35990
[780]	train-rmse:9.26055	train-r2:0.48222	valid-rmse:9.48833	valid-r2:0.36003
[790]	train-rmse:9.23193	train-r2:0.48542	valid-rmse:9.48846	valid-r2:0.36001
[800]	train-rmse:9.20256	train-r2:0.48868	valid-rmse:9.49068	valid-r2:0.35971
[810]	train-rmse:9.18497	train-r2:0.49064	valid-rmse:9.49219	valid-r2:0.35951
[820]	train-rmse:9.16318	train-r2:0.49305	valid-rmse:9.49288	valid-r2:0.35941
[830]	train-rmse:9.14771	train-r2:0.49476	valid-rmse:9.49329	valid-r2:0.35936
[840]	train-rmse:9.13219	train-r2:0.49647	valid-rmse:9.49315	valid-r2:0.35938
[842]	train-rmse:9.12857	train-r2:0.49687	valid-rmse:9.49390	valid-r2:0.35928

In [19]:
p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1  103.491798
1   2   96.367729
2   3  102.039803
3   4  113.091095
4   5  106.165192